
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Snack Tennessee</title>
</head>
<body>
	<div class="hero">
	<div class="hero-inner">
    <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo Image"></a>
		<div class="hero-copy">
			<h1>Snack Tennessee</h1>
			<p>A few reasons why this product is worth using, who it's for and why they need it.</p>
			<%= link_to "Categories", categories_path %>
			<%= link_to "Groups", groups_path %>
			<%= link_to "Locations", locations_path %>
			<%= link_to "Makers", makers_path %>
			<%= link_to "Products", products_path %>
		</div>
    <button>Learn More</button>
	</div>
</div>
</body>
</html>