<% @products.each do |product| %>
  <!--<li><%= link_to product.name, product %></li>-->
    <div class="product-grid-item">
        <h3><%= product.name %></h3>
            <img class="center-block" src=<%= image_url(product.imageurl) %>></img>
                <br><br><br>
        <h4><%= product.maker.name %></h4>
         <p><%= product.description %></p>
</div>
<% end %>