<!DOCTYPE html>
<html>
<head>
  <title>Snack Tennessee</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
<% unless @nonav == true %>
  <%= render 'shared/nav' %>
<% end %>
<!-- <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p> -->
<%= yield %>

<%= render 'shared/footer'%>

</body>
</html>
