<!DOCTYPE html>
<html>
<head>
  <title>Snack Tennessee</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<section class="hero">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6">
				<%= image_tag "snacktn_logo.svg", :class => "center-block" %>
			</div>
			<div class="col-lg-6">
				<%= yield %>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6"></div>
			<div class="col-lg-6">
				<a href="/makers" class="btn btn-primary btn-lg"><h2>Meet the Makers</h2></a>
			</div>
		</div>
	</div>
</section>
<!-- <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p> -->


<%= render 'shared/footer'%>

</body>
</html>
