<style type="text/css">
	* {
		box-sizing: border-box; -moz-box-sizing: border-box;
	}
	.section {
		width:100%;
	}
	.section-inner{
		width:60em;
		margin:0 auto;
		text-align: center;
	}
	.section-inner img {
		text-align: center;
		margin:0 auto;
	}
	.AboutUs-bios {
		width:100%;
	}
	.AboutUs-bios-wrap {
		width:200px;
		padding: 1em;
		text-align: left;
		display: inline-block;
		vertical-align: top;
		font-size:0.9em;
	}

	.AboutUs-bios-wrap img {
		width:168px;
		height:168px;
		margin-bottom: 1em;
		object-fit: cover;
	}
	.section-inner .group-photo {
		margin: 2em auto;
	}
	.AboutUs-bios-wrap ul {
		list-style: none;
		text-align: left;
		padding-left: 0;
	}
</style>
<main class="section AboutUs">
	<div class="section-inner">
		<img src=<%= image_url('snacktnteam_small.jpg') %> width="900" height="675" alt="Our Team" class="group-photo center-block" />
		<div class="team-blurb">
      <p>'Snack Tennessee' is an app in celebration of all makers in  Tennesse, from those who make and grow our food to those who make the beverage that fuel our code and allow us to have a little relaxation. It's a true celbration of all homegrown products.</p>
      <p>The name is also a salute to the newly rebranded event, Hack Tennessee. We celebrate the event that bring everyone from the Volunteer State to create a distinctly Tennessee product.</p>
		</div>
		  <section class="AboutUs-bios">
			<% @members.each do |member| %>
				<div class="AboutUs-bios-wrap">
				    <img class="center-block" src=<%= image_url(member.imageurl) %>></img>
				    <p class="name"><%= member.name %></p>
				    <p><%= member.bio %></p>
				    <ul>
					    <li>Twitter: <%= link_to member.twitter, "https://twitter.com/#{member.twitter}" %></li>
					    <li>Github: <%= link_to member.github, "https://github.com/#{member.github}" %></li>
				    </ul>
				</div>
			<% end %>
		</section>
	</div>
</main>
